/* .body {
    background-color: #b2dbbf;
} */

.header-background {
    background-color: #FFFFFF;
    width: 100%;
    position: relative;
    top: 0;
    bottom: 0;
}
 
.site-title {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #55a698;
    font-size: 3em;
    font-weight: 400;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 20px;
    justify-content: center;
    padding: 0px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  width: 300px;
  height: 260px;
  padding: 0px;
  font-size: 18px;
  text-align: center; 
  font-family: 'Lato', sans-serif;
}

a {
    color: #55a698;
  }

  img:hover {
    /* opacity: 0.6; */
    border: 5px solid #FFFFFF;
  }

  @media (min-width: 600px) {
    .grid-container { grid-template-columns: repeat(2, 1fr); }
  }
  
  @media (min-width: 900px) {
    .grid-container { grid-template-columns: repeat(3, 1fr); }
  }
  
  @media screen and (min-width: 601px) {
    .header-background {
      font-size: 15px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .header-background {
      font-size: 10px;
    }
  }